* {
  box-sizing: border-box;
  margin: 0;
}

body{
  background-color: rgb(0,70,120);
}

h1,
h4 {
  font-weight: 900;
  font-family: serif;
  text-transform: uppercase;

}

#main-content {
  /* background-color: #fff; */
  width: 100vw; /* riempie per 100 la width di viewport */
  height: 100vh; /* riempie per 100 la height di viewport */
  position: relative; /*questo è il riferimento per città-italiane*/
  margin: auto;
}

#citta-italiane {
  background: #fff;
  width: 100%; /* riempie 100% del suo contenitore */
  height: 100%;
  position: absolute;
  left: 0;


}

.singolacitta {

  width: 100%; /* riempie tutto il suo contenitore */
  height: 100%;/* riempie tutto il suo contenitore */
  position: relative; /*diventa il riferimento per il titolo*/
  color:#fff;
  text-shadow: 1px 2px #000;
  /* margin: 0px 0px 5px;  per aggiungere il borbo bianco mi occorre che ogni singola città deve avere dello spazio sotto*/

}

.titolo-citta {
  position: absolute; /*è assoluto rispetto a singola-citta*/
  top: 50%; /* in percentuale del suo contenitore singola-citta */
  left: 50%;/* in percentuale del suo contenitore singola-citta */
  text-align: center;
  transform: translate(-50%, -50%); /* allineo correttamente al centro portando
  indietro di 50% (ovvero il valore della sua metà) sulle x e sulle y  */
}

.overlay {
  width: 100%; /* riempie tutto il suo contenitore */
  height: 100%; /* riempie tutto il suo contenitore */
  background: rgba(0,0,0,0.4);
}

#roma {
  background-image: url('../img/roma-colosseoHD.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#milano {
  background-image: url('../img/milano-duomoHD.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#verona {
  background-image: url('../img/verona-arenaHD.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
